Typography {
    color: black
}
.reportTypography {
    color: #FFFFFFB2
}
.dailyReportBox {
    display: grid;
}

.dailyReport, .dailyReportImage {
    grid-column: 1;
    grid-row: 1;
}

.dailyReport {
    z-index: 2;
}

.dailyReportImage {
    z-index: 1;
}